[workspace]
members = [
	"cargo-progenitor",
	"example-build",
	"example-macro",
	"example-wasm",
	"progenitor",
	"progenitor-client",
	"progenitor-impl",
	"progenitor-macro",
]

resolver = "2"

[workspace.dependencies]
progenitor = { version = "0.9.1", path = "progenitor", default-features = false }
progenitor-client = { version = "0.9.1", path = "progenitor-client" }
progenitor-impl = { version = "0.9.1", path = "progenitor-impl" }
progenitor-macro = { version = "0.9.1", path = "progenitor-macro" }

anyhow = "1.0.97"
assert_cmd = "2.0.16"
base64 = "0.22.1"
bytes = "1.10.1"
chrono = { version = "0.4.40", default-features = false, features = ["serde"] }
clap = { version = "4.5.32" }
clap-cargo = "0.15.2"
dropshot = { version = "0.13.0", default-features = false }
env_logger = "0.10.2"
expectorate = { version = "1.1.0", features = ["predicates"] }
futures = "0.3.31"
futures-core = "0.3.31"
heck = "0.5.0"
http = "1.2.0"
hyper = "1.6.0"
indexmap = "2.7.1"
openapiv3 = "2.0.0"
percent-encoding = "2.3.0"
proc-macro2 = "1.0.94"
quote = "1.0.39"
rand = "0.9.0"
regex = "1.11.1"
regress = "0.10.3"
reqwest = { version = "0.12.4", default-features = false, features = ["json", "stream"] }
rustfmt-wrapper = "0.2.1"
schemars = { version = "0.8.22", features = ["chrono", "uuid1"] }
semver = "1.0.26"
serde = { version = "1.0.219", features = ["derive"] }
serde_json = "1.0.140"
serde_urlencoded = "0.7.1"
serde_yaml = "0.9"
syn = { version = "2.0.100", features = ["parsing"] }
thiserror = "2.0.12"
tokio = { version = "1.44.0", features = ["rt", "net"] }
# change when publishing
# typify = { version = "0.3.0" }
typify = { git = "https://github.com/oxidecomputer/typify" }
url = "2.5.4"
unicode-ident = "1.0.18"
uuid = { version = "1.15.1", features = ["serde", "v4"] }

#[patch."https://github.com/oxidecomputer/typify"]
#typify = { path = "../typify/typify" }

#[patch.crates-io]
#serde_tokenstream = { path = "../serde_tokenstream" }
#typify = { path = "../typify/typify" }
#rustfmt-wrapper = { path = "../rustfmt-wrapper" }
