[workspace]
members = [
	"example-build",
	"example-macro",
	"progenitor",
	"progenitor-client",
	"progenitor-impl",
	"progenitor-macro",
]

#[patch."https://github.com/oxidecomputer/dropshot"]
#dropshot = { path = "../dropshot/dropshot" }

[patch."https://github.com/oxidecomputer/typify"]
typify = { path = "../typify/typify" }

#[patch.crates-io]
#serde_tokenstream = { path = "../serde_tokenstream" }
#typify = { path = "../typify/typify" }
#rustfmt-wrapper = { path = "../rustfmt-wrapper" }
