[package]
name = "progenitor-impl"
version = "0.2.1-dev"
edition = "2021"
license = "MPL-2.0"
description = "An OpenAPI client generator - core implementation"
repository = "https://github.com/oxidecomputer/progenitor.git"
readme = "../README.md"

[dependencies]
heck = "0.4.1"
http = "0.2.9"
getopts = "0.2"
indexmap = "1.9"
openapiv3 = "1.0.0"
proc-macro2 = "1.0"
quote = "1.0"
regex = "1.7"
rustfmt-wrapper = "0.2.0"
schemars = { version = "0.8.12", features = ["chrono", "uuid1"] }
serde = { version = "1.0", features = ["derive"] }
serde_json = "1.0"
syn = { version = "2.0", features = ["parsing"] }
thiserror = "1.0"
# To publish, use a numbered version
#typify = "0.0.11"
typify = { git = "https://github.com/oxidecomputer/typify" }
unicode-ident = "1.0.8"

[dev-dependencies]
dropshot = { git = "https://github.com/oxidecomputer/dropshot", default-features = false }
expectorate = "1.0"
http = "0.2.9"
hyper = "0.14.26"
serde_yaml = "0.9"
serde_json = "1.0.95"
