[package]
name = "progenitor-impl"
version = "0.1.2-dev"
edition = "2018"
license = "MPL-2.0"
repository = "https://github.com/oxidecomputer/progenitor.git"
description = "An OpenAPI client generator - core implementation"

[dependencies]
heck = "0.4.0"
getopts = "0.2"
indexmap = "1.8"
openapiv3 = "1.0.0"
proc-macro2 = "1.0"
quote = "1.0"
regex = "1.5"
rustfmt-wrapper = "0.2"
schemars = { version = "0.8.10", features = ["chrono", "uuid1"] }
serde = { version = "1.0", features = ["derive"] }
serde_json = "1.0"
syn = { version = "1.0", features = ["parsing"] }
thiserror = "1.0"
typify = "0.0.8"
unicode-ident = "1.0.0"

[dev-dependencies]
dropshot = { git = "https://github.com/oxidecomputer/dropshot", default-features = false }
expectorate = "1.0"
http = "0.2.8"
hyper = "0.14.19"
