[package]
name = "progenitor"
version = "0.1.0"
edition = "2018"
license = "MPL-2.0"
repository = "https://github.com/oxidecomputer/progenitor.git"
description = "An OpenAPI client generator"

[dependencies]
progenitor-client = { version = "0.1.0", path = "../progenitor-client" }
progenitor-impl = { version = "0.1.0", path = "../progenitor-impl" }
progenitor-macro = { version = "0.1.0", path = "../progenitor-macro" }
anyhow = "1.0"
getopts = "0.2"
openapiv3 = "1.0.0"
serde = { version = "1.0", features = [ "derive" ] }
serde_json = "1.0"

[dev-dependencies]
chrono = { version = "0.4", features = ["serde"] }
futures = "0.3.21"
percent-encoding = "2.1"
reqwest = { version = "0.11", features = ["json", "stream"] }
schemars = "0.8"
uuid = { version = "1.0", features = ["serde", "v4"] }
