#
# Configuration for GitHub-based CI
#
name: Build

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  check-style:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - name: Install nightly rustfmt
      uses: dtolnay/rust-toolchain@nightly
      with:
        components: rustfmt
    - name: Report cargo version
      run: cargo --version
    - name: Report rustfmt version
      run: cargo fmt -- --version
    - name: Report nightly cargo version
      run: cargo +nightly --version
    - name: Report nightly rustfmt version
      run: cargo +nightly fmt -- --version
    - name: Check style
      run: cargo fmt -- --check

  build-and-test:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ ubuntu-latest, windows-latest, macos-latest ]
        # The first version is the MSRV.
        rust-version: [ "1.88", stable ]
    steps:
    - uses: actions/checkout@v4
    - name: Install nightly rustfmt
      uses: dtolnay/rust-toolchain@nightly
      with:
        components: rustfmt
    - name: Install Rust
      uses: dtolnay/rust-toolchain@master
      with:
        toolchain: ${{ matrix.rust-version }}
        components: rustfmt
    - name: Build
      run: cargo build --locked --tests --verbose
    - name: Run tests
      run: cargo test --locked --verbose

  build-no-default-features:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ ubuntu-latest, windows-latest, macos-latest ]
    steps:
    - uses: actions/checkout@v2
    - name: Build
      run: cargo build --locked --no-default-features

  test-wasm:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - name: Install nightly
      uses: dtolnay/rust-toolchain@nightly
      with:
        components: rustfmt
        target: wasm32-unknown-unknown
    - uses: nanasess/setup-chromedriver@v2
    - name: Install wasm-bindgen-cli
      run: cargo install --version 0.2.104 wasm-bindgen-cli
    - name: Run tests
      run: |
        cd example-wasm
        CHROMEDRIVER=$(which chromedriver) cargo test --target wasm32-unknown-unknown --locked --verbose
